*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.conteudos{
    display: flex;
    justify-content: start;
    gap: 1.5em;
    margin-bottom: 2em;
    width: 25em;
}

.conteudos button{
    padding: .5em;
    background:#ccc;
    color: #fff;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.conteudos button:focus{
    background: #0e0ba8;
}

hr{
    width: 50%;
    margin: 2em;
}

.tudo{
    display: flex;
}

.cards{
    display: none;
    justify-content: start;
    width: 40em;
    align-items: center;
    height: 4em;
    gap: 1em;
}

.cards input{
    height: 1.5em;
    border-radius: .3em;
    padding-left: .5em;
    border: 1px solid #524f4f;
}

.cards button{
    height: 1.8em;
    background: #0d56a8;
    color: #fff;
    padding: .5em;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: .5em;
}

.mostrar{
    display: flex;
}

.campoCadastro{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.campoCadastro h2{
    color: #266906;
}

.campoCadastro p{
    font-weight: 900;
    font-size: 1.3em;
}

.campoCadastro span{
    font-weight: 500;
    color: #524f4f;
    border-bottom: 1px solid #1d1d1d;
}